*{
  margin:0%;
  padding:0%;
}

html,body{
  height:100%;
  width:100%;
}
body{
  background-color: tan;
  /* display: flex; */
  /* gap: 10px; */
}
/* main{
  display: flex;
} */
div{
  border: 1px solid black;
}
#box1{
  background-color: blue;
  width:200px;
  height:200px;
}
#box2{
  text-align: center;
  background-color: blueviolet;
  width:200px;
  height:200px;
}
#box3{
  background-color: brown;
  width:300px;
  height: 300px;
}